:root {
    --bs-primary: #000000;
    --bs-primary-rgb: 0, 0, 0;
    --navbar-bg: #ffffff;
    --navbar-text: #555555;
}

.bg-navbar-theme {
    background-color: var(--navbar-bg);
}

.text-navbar-theme {
    color: var(--navbar-text);
}

.btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: #000000;
    --bs-btn-hover-border-color: #000000;
}


.category-card-img {
    height: 380px;
}

.product-main-img {
    width: 100%;
    height: auto;
}

.cart-quantity-input {
    max-width: 60px;
}

.product-detail-img {
    width: 300px;
}

.order-loading-container {
    min-height: 60vh;
}

.product-loading-area {
    min-height: 600px;
}

.order-item-img {
    width: 80px;
    height: 100px;

}

.login-card {
    width: 100%;
    max-width: 400px;
}



.qty-input-group {
    width: 110px;
}


.text-spacing-1 {
    letter-spacing: 1px;
}

.tracking-widest {
    letter-spacing: 0.25em;
}

.order-success-loading {
    min-height: 60vh;
}